.bg-shadegradient{
    background-image: url("../../../../assets/layout/images/background/login-bg.jpg");
    background-color: #ffffff;
    background-size: cover;
}

.app-name {
    background: #F06C00;
    background: linear-gradient(to right, #f06c00 20%, #f852f8 40%, #2e89ff);
    background: -webkit-linear-gradient(to right, #f06c00 20%, #f852f8 40%, #2e89ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}