<div class="grid">
    <div class="col-12">
        <section class="splide card" aria-labelledby="carousel-heading">
            <div class="splide__track">
                  <ul class="splide__list">
                        @for (item of images; track $index) {
                            <li class="splide__slide">
                                <img src="{{ item.itemImageSrc }}" alt="{{ item.itemImageAlt }}" />
                            </li>
                        }
                  </ul>
            </div>

            <div class="splide__progress">
                <div class="splide__progress__bar">
                </div>
            </div>
        </section>
    </div>

    <div class="col-8 col-offset-2">
        <div class="card">
            <h1>TOP EVENTS</h1>
        </div>

        <div class="card mt-2">
            <h1>EVENT LIST</h1>
        </div>
    </div>
</div>