<div class="formgrid grid">
    <div class="field xl:col-12 lg:col-12 col-12 imageCover">
        <file-pond
            #filePond
            [options]="pondOptions"
            class="my-2">
        </file-pond>        
    </div>

    @for (item of imageCovers; track $index) {
        <div class="field xl:col-3 lg:col-3 col-3">
            <img class="border-round w-full" [src]="item.source" [alt]="item.alt" style="max-height: 120px; object-fit: cover;"/>
        </div>
    }

    <div class="field xl:col-12 lg:col-12 col-12 justify-content-end">
        <p-button (onClick)="close()" class="bg-primary-reverse" icon="pi pi-times" label="Fermer"></p-button>
    </div>
</div>

