app-footer {
    margin-top: auto;
}

.layout-footer {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-start {
        display: flex;
        align-items: center;

        img {
            width: 2rem;
        }

        .app-name {
            margin-left: .75rem;
            font-size: 1.25rem;
            font-weight: 700;
            background: #F06C00;
            background: linear-gradient(to right, #f06c00 20%, #f852f8 40%, #2e89ff);
            background: -webkit-linear-gradient(to right, #f06c00 20%, #f852f8 40%, #2e89ff);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
