<p-table [value]="tickets" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
    emptymessage="Aucun ticket disponible">
    <ng-template pTemplate="header" styleClass="surface-900">
        <tr>
            <th i18n>Code</th>
            <th i18n>Libellé</th>
            <th i18n>Prix Unitaire</th>
            <th i18n>Quantité</th>
            <th i18n>Tickets/Personne</th>
            <th i18n>Début des ventes</th>
            <th i18n>Fin des ventes</th>
            <th i18n>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ticket>
        <tr>
            <td>{{ ticket.code | uppercase }}</td>
            <td>{{ ticket.label }}</td>
            <td>{{ ticket.price }} </td>
            <td>{{ ticket.quantity }}</td>
            <td>{{ ticket.minimumTicketQuantityPerOrder }} - {{ ticket.maximumTicketQuantityPerOrder }}</td>
            <td>{{ ticket.startDateOfSales | date:'dd/MM/yyyy, HH:mm' }}</td>
            <td>{{ ticket.endDateOfSales | date:'dd/MM/yyyy, HH:mm' }}</td>
            <td class="justify-content-center align-items-center">
                <p-buttonGroup>
                    <p-button icon="pi pi-pencil" outlined="true" severity="info" (onClick)="editTicket(ticket)" size="small"></p-button>
                    <p-button icon="pi pi-trash" outlined="true" severity="danger" (onClick)="deleteTicket(ticket)" size="small"></p-button>
                </p-buttonGroup>
            </td>
        </tr>
    </ng-template>
</p-table>
