<h2 class="uppercase font-heavy">Liste de vos évènements</h2>

<section class="mb-6">
    <div class="flex justify-content-end flex-wrap">

        <p-button (onClick)="chooseOrganizer()" styleClass="font-bold" i18n>
            <i class="pi pi-plus mr-2"></i>
            Créer un nouvel évènement
        </p-button>

    </div>
</section>

<section class="grid">
    @if (eventList$ | async; as eventList) {
        @if (eventList.length != 0) {
            <p-dataView #dv [value]="eventList" [layout]="'list'" [rows]="4" [paginator]="true" class="w-full">
                <ng-template pTemplate="list" let-eventList>
                    <div class="grid grid-nogutter">
                        @for (eventItem of eventList; track $index) {
                            <app-my-event-item [event]="eventItem" class="col-12"></app-my-event-item>
                        }
                    </div>
                </ng-template>
            </p-dataView>
        }
        @else {
            <div class= "surface-200 col-12 border-round-md border-dashed ">
                <p class="text-gray-500 font-semibold text-center" i18n>
                    Vous n'avez créee aucun évènement pour l'instant.
                </p>
            </div> 
        }
    }

    <p-confirmDialog #cd>
        <ng-template pTemplate="headless" let-message>
            <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
                <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                    <i class="pi {{message.icon}} text-5xl"></i>
                </div>
                <span class="font-bold text-2xl block mb-2 mt-4">
                    {{ message.header }}
                </span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex align-items-center gap-2 mt-4">
                    <button 
                        pButton 
                        label="Oui" 
                        (click)="cd.accept()" 
                        class="w-8rem">
                    </button>
                    <button 
                        pButton 
                        label="Non"
                        (click)="cd.reject()" 
                        class="p-button-outlined w-8rem ">
                    </button>
                </div>
            </div>
        </ng-template>
    </p-confirmDialog>
        
</section>


<p-dialog 
    header="Header" 
    [(visible)]="organisationDialogVisible" 
    [modal]="true" 
    [style]="{ width: '30%' }">
        <ng-template pTemplate="header">
            <div class="flex align-items-center justify-content-center">
                <span class="flex font-bold text-2xl">
                    Qui est l'organisateur de l'évènement ?
                </span>
            </div>
        </ng-template>

        <div class="flex align-items-center justify-content-center">
            <app-choose-organizer style="width: 70%;"></app-choose-organizer>
        </div>

</p-dialog>





