.details {
    &.p-panel{
        .p-panel-header{
            background-color: rgba(255,255,255,.87);
            padding: 0px;
            border-radius: 0px;
            border: none;
            // border-bottom: 1px solid #dee2e6;
        }
    }
}

.filepond--item {
    width: calc(20% - 0.5em);
}
.filepond--image-canvas-wrapper{
    transform-origin: 115.5px 100px;
    transform: none;
    opacity: 1;
    height: 200px;
    width: 231px;
}

