<div class="p-4 border-1 surface-border surface-card border-round flex flex-column">
    <div class="surface-50 flex justify-content-center border-round p-3">
        <div class="relative mx-auto">
            <a [routerLink]="['..','my-event-configuration',event.id,'details']">
                <img class="border-round w-full" [src]="imageCover" [alt]="event.title" style="height: 200px; object-fit: fill;"/>
            </a>
            <p-tag [value]="(event.published) ? 'Publié' : 'Non Publié'" 
                        [severity]="(event.published) ? 'success' : 'warning'" 
                        [icon]="(event.published) ? 'pi pi-check' : 'pi pi-times'"
                        class="absolute" [style.left.px]="4" [style.top.px]="4"></p-tag>
        </div>
    </div>
    <div class="pt-4">
        <div class="flex flex-row justify-content-between align-items-start gap-2">
            <div>
                <span class="font-medium text-secondary text-md">{{ event.eventCategory }}</span>
                <a [routerLink]="['..','my-event-configuration',event.id,'details']">
                    <div class="text-xl font-bold text-900 mt-2">{{ event.title | uppercase }}</div>
                </a>
            </div>
        </div>
        <div class="flex flex-column mt-4">
            <span class="font-semibol">{{ event.physicalAddress?.location }}</span>
            <span class="font-medium">De {{ event.startTime | date:'dd/MM/yyyy, HH:mm' }} à {{ event.endTime | date:'dd/MM/yyyy, HH:mm' }}  </span>
        </div>
        <div class="flex flex-row justify-content-end align-items-center gap-2 mt-4">    
            <div class="flex gap-2">
                <p-splitButton label="Voir détails" i18n-label="Détails" (onClick)="goToDetailsPage(event.id)" [model]="items" 
                    icon="pi pi-eye" size="small" class="flex-auto md:flex-initial white-space-nowrap"
                    styleClass="p-button-info" severity="info" outlined/>
            </div>
        </div>
    </div>
</div>

    