<ul class="list-none p-0 m-0">
    @for (item of timeSlots; track item) {
        <li class="flex mb-3">
            <div class="flex flex-column align-items-center">
                <span
                    class="flex align-items-center justify-content-center border-circle p-2 timeline-icon bg-blue-100 text-blue-500">
                    <i class="pi pi-clock text-2xl"></i>
                </span>
                <div class="h-full bg-blue-100" style="width: 2px; min-height: 4rem"></div>
            </div>

            <div class="ml-3 flex-1">
            <div class="flex align-items-center justify-content-between mb-3">
                <div>
                    <span class="font-bold text-color-secondary">
                        {{displayTimeslotDates(item)}}
                    </span>
                    <br/>
                    <strong>{{item.title}}</strong>
                </div>
                <div class="flex align-items-center">
                    <p-button icon="pi pi-trash" severity="secondary" size="small" (onClick)="removeTimeSlot(item)"></p-button>
                </div>
            </div>
            <hr>
            <div class="p-3 border-round surface-100">
                <p class="text-color-secondary mb-3">
                    {{item.description}}
                </p>
                @for (speaker of item.speakers; track $index) {
                <div class="flex align-items-center">
                    <p-avatar 
                        [image]="speaker.photo"
                        styleClass="mr-2" 
                        size="large" 
                        shape="circle"/>
                    <p>
                        <b>{{ speaker.completeName }}</b> <br> 
                        <span class="font-italic text-color-secondary">{{ speaker.description }}</span>
                    </p>
                </div>
                }
            </div>
        </div>
        </li>
    }
</ul>